#API
PORT=3000
JWT_SECRET=jwtSecreto123
BASE_URL=localhost

#Database
DB_NAME=pizzaria
DB_USER=usuario
DB_PASSWORD=senha
DB_HOST=localhost
DB_DIALECT=dialetoSequelize
DB_PORT=Porta

#Admin inicial
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=Senha123