PORT=3000
JWT_SECRET=segredoDoJWT
BASE_URL=http://localhost:3000

DB_NAME=nome_do_banco
DB_USER=root
DB_PASSWORD=root
DB_HOST=localhost
DB_DIALECT=sqlite

#Admin inicial
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=SenhaAdmin